<div class="root-container">
    <div class="home-content">
        <!-- Headers -->
        <div class="home-header">
            <h1 class="greeting-message animate_animated animatefaster animate_slideInUpBig">{{ 'home-component.greeting-message' | translate }}   
                <span class="header-dot position-absolute translate-middle rounded-circle">
              </span>
            </h1>
        </div>    
        <div class="home-header animate_animated animatefaster animateslideInUpBig animate_delay-100ms">
            <h1 class="greeting-quote">{{ 'home-component.greeting-quote' | translate }}</h1>
        </div>    
        <!-- Content -->
        <div class="date-header">
            <div class="day-panel">
                <span>{{ getCurrentDay() }}</span>
            </div>
            <div class="date-panel">
                <span>{{ getCurrentDate() }}</span>
            </div>
            <div class="month-panel">
                <span>{{ getCurrentMonth() }}</span>
            </div>
        </div>
        <div class="mt-5 task-input w-100">
            <mat-form-field class="w-100">
                <mat-label>{{ 'home-component.add-task' | translate }}</mat-label>
                <input type="text" matInput (keyup.enter)="openDestinationsDialog()" [(ngModel)]="newDestinationName">
            </mat-form-field>
        </div>
        <div class="mt-5">
            <h1 class="greeting-message">{{ 'home-component.upcoming' | translate }}</h1>
        </div>

        <div *ngIf="isLoading" class="text-center mt-5 mb-5">
            <h1 class="animate__animated animate__faster animate__slideInUpBig">{{ 'home-component.loading' | translate }}...</h1>
        </div>

        <div *ngIf="!isLoading && upcomingDestinations.length == 0" class="text-center mt-5" [@opacityAnimation]="'in'">
 <lib-lottie-anim [width]="'250px'" [loop]="true" [segments]="[0, 146]" [path]="'assets/animations/travel-anim.json'" [autoplay]="true"></lib-lottie-anim>
            <h1 class="animate_animated animatefaster animate_slideInUpBig">{{ 'home-component.empty' | translate }}</h1>
            <p class="animate_animated animatefaster animateslideInUpBig animate_delay-100ms">{{ 'home-component.empty-info' | translate }}</p>
        </div>
        <ul class="travel-list mt-3 mb-5 animate_animated animateslideInUp animate_faster">
            <li [@scaleFadeAnimation]="'in'" class="travel-list-item" matRipple *ngFor="let destination of upcomingDestinations">
                <div class="travel-list-item-panel">
                    <mat-checkbox (ngModelChange)="completeDestination(destination, $event)" [(ngModel)]="destination.done" class="list-item-checkbox"></mat-checkbox>
                    <div class="list-item-info-panel w-100" (click)="openDetailsDialog(destination);">
                        <mat-chip-set>
                            <mat-chip class="travel-list-tag-box travel-list-country-box">
                                <i class="continent-chip bi bi-globe-americas"></i>
                                <span class="continent-chip">{{ destination.continent }}</span>
                             </mat-chip>
                            <mat-chip class="travel-list-tag-box" >
                               #{{ destination.tag.name }}
                            </mat-chip>
                        </mat-chip-set>
                        <p>{{ destination.destination }}</p>
                    </div>
                    <!-- <div class="travel-list-action-panel">
                        <button mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
 </button>
                    </div> -->
                </div>
            </li>
        </ul>
    </div>
</div>