<div class="root-container">
    <div class="home-content">
        <!-- Headers -->
        <div class="home-header">
            <h1 class="greeting-message animate__animated animate__faster animate__slideInUpBig">{{
                'home-component.greeting-message' | translate }} <span
                    class="header-dot position-absolute translate-middle border border-light rounded-circle">
                </span>
            </h1>
        </div>
        <div class="home-header animate__animated animate__faster animate__slideInUpBig animate__delay-100ms">
            <h1 class="greeting-quote">{{ 'home-component.greeting-quote' | translate }}</h1>
        </div>


        <!-- Content -->
        <div class="date-header">
            <div class="day-panel">
                <span>WED</span>
            </div>
            <div class="date-panel">
                <span>15</span>
            </div>
            <div class="month-panel">
                <span>March</span>
            </div>
        </div>

        <div class="mt-5 task-input w-100">
            <mat-form-field class="w-100">
                <mat-label>{{ 'home-component.add-task' | translate }}</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="mt-5">
            <h1 class="greeting-message">{{ 'home-component.upcoming' | translate }}</h1>
        </div>

        <ul class="travel-list mt-3 mb-5 animate__animated animate__slideInUp animate__faster">
            <li class="travel-list-item" matRipple>
                <div class="travel-list-item-panel">
                    <mat-checkbox class="list-item-checkbox"></mat-checkbox>
                    <div class="list-item-info-panel">
                        <mat-chip-set>
                            <mat-chip class="travel-list-tag-box travel-list-country-box">
                                <i class="bi bi-globe-americas"></i>
                                Europe
                            </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                        </mat-chip-set>
                        <p>Vienna</p>
                    </div>
                    <div class="travel-list-action-panel">
                        <button mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </li>
            <li class="travel-list-item" matRipple>
                <div class="travel-list-item-panel">
                    <mat-checkbox class="list-item-checkbox"></mat-checkbox>
                    <div class="list-item-info-panel">
                        <mat-chip-set>
                            <mat-chip class="travel-list-tag-box travel-list-country-box">
                                <i class="bi bi-globe-americas"></i>
                                Europe
                            </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                        </mat-chip-set>
                        <p>Vienna</p>
                    </div>
                    <div class="travel-list-action-panel">
                        <button mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </li>
            <li class="travel-list-item" matRipple>
                <div class="travel-list-item-panel">
                    <mat-checkbox class="list-item-checkbox"></mat-checkbox>
                    <div class="list-item-info-panel">
                        <mat-chip-set>
                            <mat-chip class="travel-list-tag-box travel-list-country-box">
                                <i class="bi bi-globe-americas"></i>
                                Europe </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                        </mat-chip-set>
                        <p>Vienna</p>
                    </div>
                    <div class="travel-list-action-panel">
                        <button mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </li>
            <li class="travel-list-item" matRipple>
                <div class="travel-list-item-panel">
                    <mat-checkbox class="list-item-checkbox"></mat-checkbox>
                    <div class="list-item-info-panel">
                        <mat-chip-set>
                            <mat-chip class="travel-list-tag-box travel-list-country-box">
                                <i class="bi bi-globe-americas"></i>
                                Europe
                            </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                            <mat-chip class="travel-list-tag-box">
                                #test
                            </mat-chip>
                        </mat-chip-set>
                        <p>Vienna</p>
                    </div>
                    <div class="travel-list-action-panel">
                        <button mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>