:root[data-theme="light"] {
    /** BODY **/
    --body-background-color: white;

    /** SIDEBAR **/
    --sidebar-background-color: #f3f3f3;
    --sidebar-color: #525252;
    --sidebar-active-color: #008dff;
}