<mat-dialog-content class="dialog-root">
  <h1>{{ 'list-dialog.header' | translate }}</h1>
  <div>
    <p>{{ 'list-dialog.label' | translate }}</p>
    <mat-form-field class="w-100">
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="float-end p-3">
    <button (click)="closeDialog()" mat-raised-button color="accent">{{ 'list-dialog.cancel' | translate }}</button>
    <button [disabled]="!canSave()" (click)="createList()" mat-raised-button color="primary">{{ 'list-dialog.save' |
      translate }}</button>
  </div>
</mat-dialog-content>
