<div class="sidebar">
    <!-- Header -->
    <div class="sidebar-header">
        <img src="assets/logos/travel-list-logo-only.png" width="40">
    </div>

    <!-- Sidebar menu -->
    <ul class="sidebar-menu">
        <li id="home-item" class="sidebar-menu-item active">
        <li [routerLink]="'home'" id="home-item" class="sidebar-menu-item" [routerLinkActive]="'active'" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
            <div class="sidebar-menu-item-container">
                <i class="bi bi-houses-fill"></i>
                {{ 'sidebar-component.home-page' | translate }}
            </div>
        </li>
        <li id="list-item" class="sidebar-menu-item">
        <li [routerLink]="'destinations'" id="list-item" class="sidebar-menu-item" [routerLinkActive]="'active'" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
            <div class="sidebar-menu-item-container">
                <i class="bi bi-grid-1x2-fill"></i>
                {{ 'sidebar-component.dest-page' | translate }} <span class="badge text-bg-secondary">4</span>
            </div>
        </li>
        <li id="privacy-item" class="sidebar-menu-item">
            <li [routerLink]="'privacy'" id="privacy-item" class="sidebar-menu-item" [routerLinkActive]="'active'" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
                <div class="sidebar-menu-item-container">
                <i class="bi bi-shield-fill"></i>
                {{ 'sidebar-component.privacy-page' | translate }}    
            </div>
        </li>
        <li id="download-item" class="sidebar-menu-item">
        <li id="download-item" class="sidebar-menu-item" [routerLinkActive]="'active'" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
            <div class="sidebar-menu-item-container">
                <i class="bi bi-cloud-fill"></i>
                {{ 'sidebar-component.download-page' | translate }}
            </div>
        </li>
    </ul>
    <!-- My lists -->
    <div class="sidebar-section-header">
        {{ 'sidebar-component.lists-page' | translate }}
    </div>

    <ul class="sidebar-menu">
        <li id="home-item" class="sidebar-menu-item">
        <li id="home-item" class="sidebar-menu-item" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
            <div class="sidebar-menu-item-container">
                {{ 'sidebar-component.personal-list' | translate }}
            </div>
        </li>
        <li id="list-item" class="sidebar-menu-item">
        <li id="list-item" class="sidebar-menu-item" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
            <div class="sidebar-menu-item-container">
                {{ 'sidebar-component.work-list' | translate }} <span class="badge text-bg-secondary">4</span>
            </div>
        </li>
    </ul>
    <!-- Tags -->
    <div class="sidebar-section-header">
        {{ 'sidebar-component.tags-page' | translate }}
    </div>

    <ul class="sidebar-menu">
        <li id="home-item" class="sidebar-menu-item">
        <li id="home-item" class="sidebar-menu-item" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(0, 255, 0, 0.1)'">
            <div class="sidebar-menu-item-container">
                #{{ 'sidebar-component.priority' | translate }}
            </div>
        </li>
    </ul>
</div>