<div class="root-container">
    <div class="destination-content h-100 p-5 container">
        <div class="row h-100">
            <!-- List of upcoming destinations -->
            <div class="col-xl-6 p-2 list-col">
                <div class="card w-100 h-100 p-4 animate__animated animate__slideInUp animate__faster">
                    <div class="card-body">
                        <h1 class="card-header-text">{{ 'destinations-component.header' | translate }}</h1>
                        <div *ngIf="isLoading" class="text-center">
                            <!--kann gelöscht werden, wenn Lade-Anzeige nicht angezeigt werden soll-->
                            <h1 class="animate__animated animate__faster animate__slideInUpBig">{{
                                'home-component.loading' | translate }}</h1>
                        </div>
                        <mat-accordion *ngIf="!isLoading">
                            <mat-expansion-panel hideToggle [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'destinations-component.upcoming' | translate }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngIf="!isLoading && upcomingDestinations.length == 0" class="text-center mt-5">
                                    <lib-lottie-anim [width]="'250px'" [segments]="[0, 146]"
                                        [path]="'assets/animations/schedule-anim.json'"
                                        [autoplay]="true"></lib-lottie-anim>
                                    <h1 class="animate__animated animate__faster animate__slideInUpBig">{{
                                        'home-component.empty' | translate }}</h1>
                                    <p
                                        class="animate__animated animate__faster animate__slideInUpBig animate__delay-100ms">
                                        {{ 'home-component.empty-info' | translate }}</p>
                                </div>
                                <ul class="travel-list mt-3">
                                    <li class="travel-list-item"
                                        [ngClass]="{'active': selectedDestination != undefined && selectedDestination.id == destination.id}"
                                        matRipple *ngFor="let destination of upcomingDestinations"
                                        (click)="selectedDestination = destination; showDetailsDialog(destination);">
                                        <div class="travel-list-item-panel">
                                            <mat-checkbox (ngModelChange)="completeDestination(destination, $event)"
                                                [(ngModel)]="destination.done"
                                                class="list-item-checkbox"></mat-checkbox>
                                            <div class="list-item-info-panel">
                                                <p>{{ destination.destination }}</p>
                                                <p class="continent">{{ destination.continent }}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'destinations-component.past' | translate }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngIf="!isLoading && pastDestinations.length == 0" class="text-center mt-5">
                                    <lib-lottie-anim [width]="'150px'" [segments]="[0, 146]"
                                        [path]="'assets/animations/schedule-anim.json'"
                                        [autoplay]="true"></lib-lottie-anim>
                                    <h1 class="animate__animated animate__faster animate__slideInUpBig">{{
                                        'home-component.empty' | translate }}</h1>
                                    <p
                                        class="animate__animated animate__faster animate__slideInUpBig animate__delay-100ms">
                                        {{ 'home-component.empty-info-past' | translate }}</p>
                                </div>
                                <ul class="travel-list mt-3">
                                    <li class="travel-list-item"
                                        [ngClass]="{'active': selectedDestination != undefined && selectedDestination.id == destination.id}"
                                        matRipple *ngFor="let destination of pastDestinations"
                                        (click)="selectedDestination = destination; showDetailsDialog(destination);">
                                        <div class="travel-list-item-panel">
                                            <mat-checkbox (ngModelChange)="completeDestination(destination, $event)"
                                                [(ngModel)]="destination.done"
                                                class="list-item-checkbox"></mat-checkbox>
                                            <div class="list-item-info-panel">
                                                <p>{{ destination.destination }}</p>
                                                <p class="continent">{{ destination.continent }}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <!-- Destination inspector -->
            <div class="col-xl-6 p-2 inspector-col">
                <div
                    class="card w-100 h-100 p-4 animate__animated animate__slideInUp animate__faster animate__delay-100ms">
                    <div class="card-body" *ngIf="selectedDestination != undefined">
                        <mat-chip-set>
                            <mat-chip class="travel-list-tag-box travel-list-country-box">
                                <i class="continent-chip bi bi-globe-americas me-1"></i>
                                <span class="continent-chip">{{ selectedDestination.continent }}</span>
                            </mat-chip>
                        </mat-chip-set>
                        <h1 class="destination-name">{{ selectedDestination.destination }}</h1>
                        <h3 class="mt-4">{{ 'destinations-component.lists' | translate }}</h3>
                        <mat-chip-listbox>
                            <mat-chip-option (click)="updateList(list);"
                                [selected]="list.id == selectedDestination.list.id"
                                *ngFor="let list of availableLists">{{ list.name }}</mat-chip-option>
                        </mat-chip-listbox>
                        <h3 class="mt-4">{{ 'destinations-component.tags' | translate }}</h3>
                        <mat-chip-listbox>
                            <mat-chip-option (click)="updateTag(tag);" [selected]="tag.id == selectedDestination.tag.id"
                                *ngFor="let tag of availableTags">{{ tag.name }}</mat-chip-option>
                        </mat-chip-listbox>
                        <h3 class="mt-4">{{ 'destinations-component.notes' | translate }}</h3>
                        <mat-form-field class="w-100">
                            <mat-label>{{ 'destinations-component.notes-placeholder' | translate }}</mat-label>
                            <textarea rows="5" matInput [(ngModel)]="selectedDestination.notes"></textarea>
                        </mat-form-field>
                        <button class="mb-5" (click)="updateNotes(selectedDestination.notes)" mat-raised-button
                            color="primary">{{ 'destinations-component.save-notes' | translate}}</button>
                        <div class="w-100">
                            <button (click)="deleteDestination()" class="me-2" mat-raised-button color="warn">{{
                                'destinations-component.delete' | translate}}</button>
                            <button (click)="completeDestination(selectedDestination, !selectedDestination.done)"
                                mat-raised-button color="primary">{{ selectedDestination.done ?
                                ('destinations-component.mark-undone' | translate) : ('destinations-component.mark-done'
                                | translate)}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>